@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "SF pro", "Noto Sans CJK KR", "Poppins";
}

#top {
  width: 100%;
  margin: 0 auto;
  height: 40rem;
  position: relative;
}

#background{
  width: 100%;
  margin: 0 auto;
  height: 40rem;
  background-image: url(../img/1.png);
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#header {
  width: 75%; /*1440px*/
  height: 95px;
  margin: 0 auto;
  padding: 27px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .right {
  display: flex;
  align-items: center;
  color: #555;
  letter-spacing: -0.3px;
}
#header .right .first {
  display: flex;
  font-size: 14.88px;
}
#header .right .first > li {
  margin: 0 12.5px;
  letter-spacing: 1px;
  color: #fff;
}
#header .right .first > li:first-child {
  margin-left: 0px;
}
#header .right .first > li:last-child {
  margin-right: 0px;
}
#header .right.second {
  background-color: #056dae;
  color: #fff;
  width: 80px;
  height: 30px;
  padding: 7px 10px;
  margin: 0 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#header .right.second svg {
  width: 17px;
  height: 17px;
  fill: #fff;
}
#header .right.second p {
  display: inline-block;
}
#header .right.last {
  width: auto;
  display: flex;
  align-items: center;
  color: #555;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.3px;
}
#header .right.last li {
  padding: 0 2px;
}
#header .right.last li.slash {
  color: #555;
}
#header .right.last li:last-child {
  padding-left: 8px;
  padding-top: 3px;
}
#main {
  width: 75%; /*1440px*/
  margin: 0 auto;
  padding: 150px 0 80px;
  color: #fff;
}
#main span{
  font-family: "SF pro";
  font-size: 62px;
  font-weight: 300;
  font-style: normal;
  line-height: 80.6px; /* 130% */
}
#main strong{
  font-size: 62px;
  color: #fff;
  font-weight: 700;
}
#main .blue {
  color: #056dae;
  font-weight: 700;
}
#main p {
  color: #fff;
  font-family: "SF pro";
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 27px; /* 180% */
}

#background .bar{
  width: 75%;
  height: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  align-items: center;
}
#background .bar > li{
  width: 30px;
  height: 2px;
  background-color: #fff;
  opacity: 50%;
  cursor: pointer;
  transition: all ease;
}
#background .bar > li.on{
  opacity: 1;
}



/*FloatNav*/
#floatNav{
  width: 75%; /*1440px*/
  
}
